{% extends 'base.html.twig' %}

{% block title 'Les produits' %}

{% block body %}
    <div class="container mt-4">
        <h1>Les produits</h1>

        <div class="row">
            {% for produit in produit %}
                    {% include 'produit/_produit.html.twig' %}
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(produit) }}
        </div>
    </div>

{% endblock %}