{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer le produit</h1>
        {{ include ("admin/produit/form.html.twig", {form: form, button: "Sauvegarder"}) }}
    </div>

{% endblock %}