{% extends 'base.html.twig' %}

{% block title 'administration des produits' %}

{% block body %}

    <div class="container mt-4">
        <h1>Administration des produits</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produit %}
                        <tr>
                            <td>{{ produit.titre }}</td>
                            <td>
                                <a href="{{ path('admin.produit.edit', {id: produit.id}) }}" class="btn btn-secondary">Editer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}