# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projet_web_app\carhub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
